.content {
  padding: 16px;
}

.cardAction {
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0;
}

.cardAction li {
  display: inline-block;
  width: 33%;
}

.cardAction li a {
  text-decoration: none;
}

.fabButton {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
}
